body{
    width:450px;
    background-color: transparentize($color: #858585, $amount: 0);
}
.container{
    padding:40px;
    margin-top: 100px;
    margin-left: 15px;
    width: 425px;
    height: 500px;
    h2{
        margin-top: 50px;
        margin-bottom: 15px;
        font-size: 30px;
        color: blue;
    }
    h3{
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        color: orange;
    }
    p{
        font-size: 20px;
        margin-top: 40px;
        color: blue;
    }
    input{
        float: right;
        color: black;
    }
    .alert alert-danger{
        margin: 10px 30px;
    }
    button{
        margin:20px;
        font-size: 20px;
    }
    .btn{
        margin-top: 20px;
        font-size: 20px;
        color: white;
    }
}