body{
    width:900px;
    background-color: transparentize($color: #858585, $amount: 0);
}
.container{
    padding: 30px;
    margin-top: 100px;
    button{
        margin: 20px;
        border: 1px solid black;
        font-weight: bold;
        font-size: 16px;
    }
    table{
        width: 900px;
        margin-top: 30px;
        font-size: 30px;
        color: blue;
        .action{
            text-indent: 20px;
        }
    }   
}